.bodyContainer {
    display: grid;
    width: 100%;
    height: 99vh;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 20fr;
    
    grid-template-areas: "login"
                        "bot"
                        "chat";
}

.user_row {
    grid-area: "login";
}

.Rectangle-22-Copy {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    display: grid;
    grid-template-columns: 1fr 8fr; 
    grid-template-areas: "icon name"
}

.img-circle {
    margin-left: 5px;
    margin-left: 5px;
    align-self: center;
    grid-area: icon;
    border-radius: 50%;
    border:3px solid #62e2c0;
    width: 80%;
    height: auto;
    min-width: 41px;
    min-height: 41px;

    
}

.botName-Container {
    padding: 10px;

}

#botName{
    font-family: Roboto;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #62e2c0;
    align-self: center;
}

.messages-class {
    grid-area: chat;
    max-height: 500px;
    display: grid;
    grid-template-rows: 12fr 1fr;
}
.message-icon {
    width: 5vh;
}

.Path-22-Copy {
    width: auto;
    height: 0px;
    border: solid 1px #62e2c0;
}

.Kirjuta-siia-Copy {
    border: none;
    resize: none;
    width: 70vh;
    opacity: 0.45;
    font-family: Roboto;
    font-size: 4em;
    letter-spacing: 0.3px;
    color: #475277;
}

.message-row-bot {
    min-height: 20px;
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 1fr;
    grid-template-areas: "uicon content";
    justify-self: start;
}

.message-row {
    min-height: 10px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content uicon";
    justify-self: end;
    text-align: right;
    max-width: inherit;
}

.message-content {
    grid-area: content;
    justify-self: inherit;
}

.message-header {
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 2px;
    color: darkgrey;
}

.message-text-container {
    min-height: 45px;
    max-width: 80vw;
    border-radius: 2px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #ddfde8;
    overflow-wrap: break-word;
}

.message-text {
    padding: 20px;
    font-family: Roboto;
    font-size: 32px;
    letter-spacing: 0.3px;
    padding: 10px;
}

nav ul{list-style-type: none; height:75vh; width:100vw}
nav ul{overflow:hidden; overflow-y:scroll;}